body {
    display: block;
    position: relative;
    page-break-inside: auto;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, header {
    page-break-after: avoid;
}

table, tbody, thead, tr {
    position: relative;
}

table, tbody, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
}

table {
    margin-bottom: 20px;
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
    -webkit-print-color-adjust: exact;
}

thead {
    display: table-header-group;
    page-break-before: auto;
    page-break-inside: avoid;
    page-break-after: auto;
}

tbody {
    page-break-before: auto;
    page-break-inside: auto;
    page-break-after: auto;
}


tr {
    position: relative;
    page-break-before: auto;
    page-break-inside: avoid !important;
    page-break-after: auto;
    -webkit-print-color-adjust: exact;
}


th {
    padding: 3px;
    text-align: left;
}

td, th {
    padding: 3px;
    position: relative;
    text-align: right;
    page-break-before: avoid;
    page-break-inside: avoid;
    page-break-after: avoid;
    -webkit-print-color-adjust: exact;
}

.report-logo {
    margin: 0 auto;
    height: 50px;
    width: auto;
    text-align: right;
}
a {
    text-decoration-style: solid;
    color: black;
}
table tbody td, table tbody th {
    padding: 5px 5px 30px 5px;
    font-size: 12px;

}
table tbody td {
    text-align: right;
}
table tbody tr th:nth-child(2n) {
    text-align: right;
}
table {
    width: 100%
}
tr.order-entry-report-sum {
    font-weight: bold;
    text-align: right;
}
tr.order-entry-report-sum th {
    text-align: right;
}
