table, tbody, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
}
body {
    font-family: Arial, sans-serif;
}
table {
    margin-bottom: 20px;
}
th, td {
    padding: 3px;
    text-align: right;

}
th {
    text-align: left;
}
.report-logo {
    margin: 0 auto;
    height: 50px;
    width: auto;
    text-align: right;
}
tr.order-entry-report-sum {
    font-weight: bold;
    text-align: right;
}
tr.order-entry-report-sum th {
    text-align: right;
}