<!DOCTYPE html>

{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'css/report.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/report-print.css' %}" rel="stylesheet" type="text/css" media="print"/>
</head>
<body>
    <img class="report-logo" src="{% static 'images/logo.jpg' %}" />
    {% block content %}
    {% endblock content %}
</body>
</html>
