{% extends base_template %}

{% load i18n %}
{% load order_admin %}


<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="/core/order/{# url 'admin:order-list' #}">{% trans "Orders" %}</a></li>
            <li>{%trans "Order report" %}</li>
{#            <li><a href="{% url 'admin:order-report' %}">{% trans "Order report" %}</a></li>#}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <header>
            <h1> {% trans "Product report" %}</h1>
        </header>

    <div>
        <strong>{% trans "Selection criteria" %}</strong>
        <ul>
            <li>
                {% trans "Period" %}:
                {% if not date_from and not date_till %}
                    {% trans "all time" %}
                {% endif %}
                {% if date_from %}
                    {% trans "from" %} {{ date_from }}
                {% endif %}
                {% if date_to %}
                    {% trans "till" %} {{ date_to }}
                {% endif %}
            </li>
            <li>{% trans "Products" %}: {% if product %}{{ product.name }}{% else %}{% trans "all" %}{% endif %}</li>
            <li>{% trans "Distribution centres" %}: {% if cdc %}{{ cdc.name }}{% else %}{% trans "all" %}{% endif %}</li>
        </ul>
    </div>

    <table class="easy-to-read-table">
        <thead>
            <tr>
                <th>{% trans "Delivery Code" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Delivery Center" %}</th>
                <th>{% trans "Weight" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, values in order_entries_dict.items %}
            {% for entry in values %}
                <tr>
                    <td>{{ entry.order_details.delivery_code }}</td>
                    <td>{{ entry.product }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.order_details.delivery_center.name }}</td>
                    <td>{{ entry.total_real_weight|floatformat:"-2" }}</td>
                </tr>
            {% endfor %}
            <tr class="order-entry-report-sum">
                <th>Σ</th>
                <td></td>
                <td>{% order_entry_total totals key 'amount' %}</td>
                <td></td>
                <td>{% order_entry_total totals key 'weight' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
