{% load i18n admin_static grp_tags %}
{% with recursive_formset=inline_admin_formset stacked_template='admin/edit_inline/stacked.html' tabular_template='admin/edit_inline/tabular.html'%}
{% with recursive_formset.opts.sortable_field_name|default:"" as sortable_field_name %}
<div class="grp-group grp-stacked {% if recursive_formset %}{{ recursive_formset.formset.prefix|default:"Root" }}-nested-inline nested-inline{% endif %} {% if inline_admin_formset.opts.classes %} {{ inline_admin_formset.opts.classes|join:" " }}{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-group">
        <h2 class="grp-collapse-handler">{% if inline_admin_formset.opts.title %}{{ inline_admin_formset.opts.title }}{% else %}{{ inline_admin_formset.opts.verbose_name_plural|title }}{% endif %}</h2>
        <ul class="grp-tools">
            <li><a href="javascript://" class="grp-icon grp-open-handler" title="{% trans 'Open All Items' %}"></a></li>
            <li><a href="javascript://" class="grp-icon grp-close-handler" title="{% trans 'Close All Items' %}"></a></li>
            <li><a href="javascript://" class="grp-icon grp-add-handler {{ inline_admin_formset.formset.prefix }}-group" title="{% trans 'Add Item' %}"> </a></li>
        </ul>
    {{ recursive_formset.formset.management_form }}
    {{ recursive_formset.formset.non_form_errors }}

    <div class="grp-items">
        {% for inline_admin_form in recursive_formset %}
            <!-- element -->
            <div class="grp-module {{ recursive_formset.opts.inline_classes|join:" "|default:"grp-collapse grp-closed" }}{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} grp-empty-form{% endif %}" id="{{ inline_admin_formset.formset.prefix }}{% if forloop.last %}-empty{% else %}-{{ forloop.counter0 }}{% endif %}">
                <h3 class="grp-collapse-handler">{{ recursive_formset.opts.verbose_name|title }}&nbsp;&nbsp;{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% endif %}</h3>
                <ul class="grp-tools">
                    {% if inline_admin_form.show_url %}<li><a href="{% url 'admin:view_on_site' inline_admin_form.original_content_type_id inline_admin_form.original.pk %}" class="grp-icon grp-viewsite-link" title="{% trans 'View on Site' %}" target="_blank"></a></li>{% endif %}
                    {% if recursive_formset.opts.sortable_field_name %}
                        <li><a href="javascript://" class="grp-icon grp-drag-handler" title="{% trans 'Move Item' %}"></a></li>
                    {% endif %}
                    {% if inline_admin_form.original %}
                        {% if recursive_formset.formset.can_delete %}
                            <li class="grp-delete-handler-container">{{ inline_admin_form.deletion_field.field }}<a href="javascript://" class="grp-icon grp-delete-handler {{ inline_admin_formset.formset.prefix }}-group" title="{% trans 'Delete Item' %}"></a></li>
                        {% else %}
                            <li><span class="grp-icon">&nbsp;</span></li>
                        {% endif %}
                    {% else %}
                        <li><a href="javascript://" class="grp-icon grp-remove-handler {{ inline_admin_formset.formset.prefix }}-group" title="{% trans 'Delete Item' %}"></a></li>
                    {% endif %}
                </ul>
                {% if inline_admin_form.form.non_field_errors %}
                    {{ inline_admin_form.form.non_field_errors }}
                {% endif %}
                {% for fieldset in inline_admin_form %}
                    {% include "admin/includes/fieldset_inline.html" %}
                {% endfor %}
                {{ inline_admin_form.fk_field.field }}
                {% if django_version_lt_1_6 %}
                    {% if inline_admin_form.has_auto_field %}
                        {{ inline_admin_form.pk_field.field }}
                    {% endif %}
                {% else %}
                    {% if inline_admin_form.needs_explicit_pk_field %}
                        {{ inline_admin_form.pk_field.field }}
                    {% endif %}
                {% endif %}

                {% if inline_admin_form.form.nested_formsets %}
                    {% for inline_admin_formset in inline_admin_form.form.nested_formsets %}
                        {% if inline_admin_formset.opts.template %}
                            {% include inline_admin_formset.opts.template %}
                        {% else %}

                            {% include 'admin/core/order/edit_inline/stacked.html' %}
                        {% endif %}
                        <div class="nested-inline-bottom-border"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        {{ inline_admin_form.extra_forms }}
    </div>
    <div class="grp-module grp-transparent">
        <div class="grp-row">
            <a href="javascript://" class="grp-add-handler {{ inline_admin_formset.formset.prefix }}-group"><strong>{% blocktrans with recursive_formset.opts.verbose_name as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}</strong></a>
            <ul class="grp-tools">
                <li><a href="javascript://" class="grp-icon grp-add-handler {{ inline_admin_formset.formset.prefix }}-group" title="{% trans 'Add Item' %}"> </a></li>
            </ul>
        </div>
    </div>

</div>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        var prefix = "{{ recursive_formset.formset.prefix }}";
        var related_lookup_fields_fk = {% get_related_lookup_fields_fk recursive_formset.opts %};
        var related_lookup_fields_m2m = {% get_related_lookup_fields_m2m recursive_formset.opts %};
        var related_lookup_fields_generic = {% get_related_lookup_fields_generic recursive_formset.opts %};
        var autocomplete_fields_fk = {% get_autocomplete_lookup_fields_fk recursive_formset.opts %};
        var autocomplete_fields_m2m = {% get_autocomplete_lookup_fields_m2m recursive_formset.opts %};
        var autocomplete_fields_generic = {% get_autocomplete_lookup_fields_generic recursive_formset.opts %};
        $.each(related_lookup_fields_fk, function() {
            $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items > div:not(.grp-empty-form)")
            .find("input[name^='" + prefix + "'][name$='" + this + "']")
            .grp_related_fk({lookup_url:"{% url 'grp_related_lookup' %}"});
        });
        $.each(related_lookup_fields_m2m, function() {
            $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items > div:not(.grp-empty-form)")
            .find("input[name^='" + prefix + "'][name$='" + this + "']")
            .grp_related_m2m({lookup_url:"{% url 'grp_m2m_lookup' %}"});
        });
        $.each(related_lookup_fields_generic, function() {
            var content_type = this[0],
                object_id = this[1];
            $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items > div:not(.grp-empty-form)")
            .find("input[name^='" + prefix + "'][name$='" + this[1] + "']")
            .each(function() {
                var i = $(this).attr("id").match(/-\d+-/);
                if (i) {
                    var ct_id = "#id_" + prefix + i[0] + content_type,
                        obj_id = "#id_" + prefix + i[0] + object_id;
                    $(this).grp_related_generic({content_type:ct_id, object_id:obj_id, lookup_url:"{% url 'grp_related_lookup' %}"});
                }
            });
        });
        $.each(autocomplete_fields_fk, function() {
            $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items > div:not(.grp-empty-form)")
            .find("input[name^='" + prefix + "'][name$='" + this + "']")
            .each(function() {
                $(this).grp_autocomplete_fk({
                    lookup_url:"{% url 'grp_related_lookup' %}",
                    autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                });
            });
        });
        $.each(autocomplete_fields_m2m, function() {
            $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items > div:not(.grp-empty-form)")
            .find("input[name^='" + prefix + "'][name$='" + this + "']")
            .each(function() {
                $(this).grp_autocomplete_m2m({
                    lookup_url:"{% url 'grp_m2m_lookup' %}",
                    autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                });
            });
        });
        $.each(autocomplete_fields_generic, function() {
            var content_type = this[0],
                object_id = this[1];
            $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items > div:not(.grp-empty-form)")
            .find("input[name^='" + prefix + "'][name$='" + this[1] + "']")
            .each(function() {
                var i = $(this).attr("id").match(/-\d+-/);
                if (i) {
                    var ct_id = "#id_" + prefix + i[0] + content_type,
                        obj_id = "#id_" + prefix + i[0] + object_id;
                    $(this).grp_autocomplete_generic({
                        content_type:ct_id,
                        object_id:obj_id,
                        lookup_url:"{% url 'grp_related_lookup' %}",
                        autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                    });
                }
            });
        });

        var grp_inline_options = {
            prefix: "{{ recursive_formset.formset.prefix }}",
            onAfterRemoved: function(inline) {},
            onAfterAdded: function(form) {
                grappelli.reinitDateTimeFields(form);
                grappelli.updateSelectFilter(form);
                $.each(related_lookup_fields_fk, function() {
                    form.find("input[name^='" + prefix + "'][name$='" + this + "']")
                    .grp_related_fk({lookup_url:"{% url 'grp_related_lookup' %}"});
                });
                $.each(related_lookup_fields_m2m, function() {
                    form.find("input[name^='" + prefix + "'][name$='" + this + "']")
                    .grp_related_m2m({lookup_url:"{% url 'grp_m2m_lookup' %}"});
                });
                $.each(related_lookup_fields_generic, function() {
                    var content_type = this[0],
                        object_id = this[1];
                    form.find("input[name^='" + prefix + "'][name$='" + this[1] + "']")
                    .each(function() {
                        var i = $(this).attr("id").match(/-\d+-/);
                        if (i) {
                            var ct_id = "#id_" + prefix + i[0] + content_type,
                                obj_id = "#id_" + prefix + i[0] + object_id;
                            $(this).grp_related_generic({content_type:ct_id, object_id:obj_id, lookup_url:"{% url 'grp_related_lookup' %}"});
                        }
                    });
                });
                $.each(autocomplete_fields_fk, function() {
                    form.find("input[name^='" + prefix + "'][name$='" + this + "']")
                    .each(function() {
                        $(this).grp_autocomplete_fk({
                            lookup_url:"{% url 'grp_related_lookup' %}",
                            autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                        });
                    });
                });
                $.each(autocomplete_fields_m2m, function() {
                    form.find("input[name^='" + prefix + "'][name$='" + this + "']")
                    .each(function() {
                        $(this).grp_autocomplete_m2m({
                            lookup_url:"{% url 'grp_m2m_lookup' %}",
                            autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                        });
                    });
                });
                $.each(autocomplete_fields_generic, function() {
                    var content_type = this[0],
                        object_id = this[1];
                    form.find("input[name^='" + prefix + "'][name$='" + this[1] + "']")
                    .each(function() {
                        var i = $(this).attr("id").match(/-\d+-/);
                        if (i) {
                            var ct_id = "#id_" + prefix + i[0] + content_type,
                                obj_id = "#id_" + prefix + i[0] + object_id;
                            $(this).grp_autocomplete_generic({
                                content_type:ct_id,
                                object_id:obj_id,
                                lookup_url:"{% url 'grp_related_lookup' %}",
                                autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                            });
                        }
                    });
                });
                form.grp_collapsible();
                form.find(".grp-collapse").grp_collapsible();

                //sub-inlines dynamically added
                form.find(".nested-inline").each(function(){
                    var options = {};
                    $.extend(options, grp_inline_options);
                    $.extend(options, {prefix: $(this).attr('id').split('-group')[0]});
                    $(this).grp_inline(options);
                    /*//autofields
                    $.each(['product'], function() {
                        form.find("#" + options.prefix + "-group  div.grp-table > div:not(.grp-empty-form)")
                        .find("input[name^='" + options.prefix + "'][name$='" + this + "']")
                        .each(function() {
                            $(this).grp_autocomplete_fk({
                                lookup_url:"{% url 'grp_related_lookup' %}",
                                autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                            });
                        });
                    });*/
                });
                var options = {prefix: form.attr('id')};
                $.each(['product'], function() {
                    form.find("input[name^='" + options.prefix + "'][name$='" + this + "']")
                    .each(function() {
                        $(this).parent().find('#' + $(this).attr('id') + '-autocomplete').each(function(){
                            $(this).prev().remove();
                            $(this).remove();
                        });
                        $(this).grp_autocomplete_fk({
                            lookup_url:"{% url 'grp_related_lookup' %}",
                            autocomplete_lookup_url:"{% url 'grp_autocomplete_lookup' %}"
                        });
                    });
                });
            }
        };
        $("#{{ recursive_formset.formset.prefix }}-group").grp_inline(grp_inline_options);

        {% if recursive_formset.opts.sortable_field_name %}
        $("#{{ recursive_formset.formset.prefix }}-group > div.grp-items").sortable({
            handle: "a.grp-drag-handler",
            items: "div.grp-dynamic-form",
            axis: "y",
            appendTo: 'body',
            forceHelperSize: true,
            placeholder: 'grp-module ui-sortable-placeholder',
            forcePlaceholderSize: true,
            containment: '#{{ recursive_formset.formset.prefix }}-group > div.grp-items',
            tolerance: 'pointer',
            start: function(evt, ui) {
                ui.placeholder.height(ui.item.height() + 12);
            }
        });
        $("#{{ opts.model_name }}_form").bind("submit", function(){
            var sortable_field_name = "{{ recursive_formset.opts.sortable_field_name }}",
                sortable_excludes = {% get_sortable_excludes recursive_formset.opts %},
                i = 0;
            $("#{{ recursive_formset.formset.prefix }}-group").find("div.grp-dynamic-form").each(function(){
                var fields = $(this).find("fieldset :input[type!=radio][type!=checkbox],input:checked,input[type=file]"),
                    submit_values = false,
                    has_value;
                $(fields).each(function() {
                    // position is being updated if
                    // a) the field has a value
                    // b) if the field is not exluded with sortable_excludes (e.g. with default values)
                    has_value = $(this).val() || ($(this).attr('type') == 'file' && $(this).siblings('a').length);
                    if (has_value && $(this).attr("name") && $.inArray($(this).attr("name").split("-").pop(), sortable_excludes) == -1) {
                        submit_values = true;
                    }
                });
                if (submit_values) {
                    $(this).find("input[name$='"+sortable_field_name+"']").val(i);
                    i++;
                }
            });
        });
        {% endif %}

    });
})(grp.jQuery);
</script>
{% endwith %}
{% endwith %}
