{% extends base_template %}
{% load i18n %}


<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            {% if current_date %}
                <li><a href="{% url 'admin:picklist-list' %}">{% trans "Pick List" %}</a></li>
                <li> {{ current_date }}</li>
            {% else %}
                <li>{% trans "Pick List" %}</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}


{% block content %}
    <header>
        <h1> {% trans "Pick List" %}
            {% if current_date %}
                -
                    {{ current_date|default_if_none:'' }}
                &nbsp;
                    {% if noprint %}<a href="?print" target="_blank">{% trans "print" %}</a>{% endif %}
            {% endif %}
        </h1>
        <h2>
            {% if current_version %}{% trans "Version" %} {{ current_version }} ({{ current_version_datetime|date:"Y-m-d H:i" }}){% endif %}
            {% if last_seen_version %}{% trans "compared with Version" %} {{ last_seen_version }} ({{ last_seen_version_datetime|date:"Y-m-d H:i" }}){% endif %}
        </h2>
    </header>

    {% for date in dates %}
        <a href="{% url 'admin:picklist-detail' date=date.0 %}">{{ date.0|date:"Y-m-d" }}</a>
        {% if noprint %} &nbsp; <a href="{% url 'admin:picklist-detail' date=date.0 %}?print" target="_blank">{% trans "print" %}</a>{% endif %}<br/>
    {% endfor %}

    {% if table %}
    <table class="easy-to-read-table">
        <thead>
            <tr>
            {% for dc in header %}
                {% if dc.id %}
                <th {% if dc.color %}style="background-color: #ddffdd"{% endif %}><a href="{% url 'admin:picklist-delivery-detail' date=current_date distribution_center=dc.id %}">{{ dc.name }}</a></th>
                {% else %}
                    <th {% if dc.color %}style="background-color: #ddffdd"{% endif %}>{{ dc.name }}</th>
                {% endif %}
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in table %}
            <tr>
            {% for item in row.items %}
                {% if forloop.first %}
                    <th style="{% if row.product.order_null %}border-top: 3px solid;{% endif %} {% if row.product.color %}background-color: #ddffdd;{% endif %}"> {{ row.product.name }}</th>
                {% endif %}
                {% if not forloop.last and not forloop.parentloop.last %}
                    <td style="{% if row.product.order_null %}border-top: 3px solid;{% endif %} {% if item.color %}background-color: #ddffdd;{% endif %}">
                        {% if item.amount %}
                            {{ item.amount }} ({{ item.pallets|floatformat:"-2" }})
                        {% endif %}
                    </td>
                {% elif forloop.last and forloop.parentloop.last %}
                    <th {% if item.color %}style="background-color: #ddffdd"{% endif %}> {{ item.amount }} ({{ item.pallets|floatformat:"-2" }})</th>
                {% else %}
                    <td  style="{% if row.product.order_null %}border-top: 3px solid; {% endif %} {% if item.color %}background-color: #ddffdd;{% endif %}">{% if item.amount %} {{ item.amount }} ({{ item.pallets|floatformat:"-2" }}){% endif %}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock content %}
