{% extends base_template %}
{% load i18n %}


<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'admin:picklist-list' %}">{% trans "Pick List" %}</a></li>
            <li><a href="{% url 'admin:picklist-detail' date=current_date %}">{{ current_date }}</a></li>
            <li>{% trans "Delivery details -" %} {{ cdc.name }}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <header>
        <h1>
                {% trans "Delivery details" %}
        {% if current_date %}
            -
            {{ cdc.name }}
            -
                {{ current_date|default_if_none:'' }}
            &nbsp;
                {% if noprint %}<a href="?print" target="_blank">{% trans "print" %}</a>{% endif %}
        {% endif %}
        </h1>
        <h2>
            {% trans "Version" %} {{ current_version }} ({{ current_version_datetime|date:"Y-m-d H:i" }})
            {% if last_seen_version %}{% trans "compared with Version" %} {{ last_seen_version }} ({{ last_seen_version_datetime|date:"Y-m-d H:i" }}){% endif %}
        </h2>
    </header>

    {% for od in data %}
        <table style="float: left; margin-right: 20px;">
            <tr>
                <th>{% trans "Order Number" %}</th>
                <td>
                {{ od.order_id }}
                </td>
            </tr>
            <tr>
                <th>{% trans "Delivery Number" %}</th>
                <td style="{% if od.color_delivery_code %}background-color: #ddffdd; {% endif %}">
                {{ od.delivery_code }}
                </td>
            </tr>
            <tr>
                <th>{% trans "Delivery date" %}</th>
                <td style="{% if od.color_delivery_date %}background-color: #ddffdd; {% endif %}">
                {{ od.delivery_date }}
                </td>
            </tr>
            <tr>
                <th>{% trans "Distribution center" %}</th>
                <td>
                {{ od.delivery_center_name }}
                </td>
            </tr>
            <tr>
                <th>{% trans "Delivery address" %}</th>
                <td style="{% if od.color_address %}background-color: #ddffdd; {% endif %}">
                    {{ od.country }}
                    <br/>
                    {{ od.city }} {{ od.zip }}<br/>
                    {{ od.street }} {{ od.street_number }}{% if od.flat_number %}/{{ od.flat_number }}{% endif %}<br/>
                    {{ od.address_notes }}
                </td>
            </tr>
        </table>
        <table class="easy-to-read-table">
            <thead>
                <tr>
                    <th> {% trans "Product Name" %} </th>
                    <th> {% trans "Pallets" %} </th>
                    <th> {% trans "Amount" %} </th>

                </tr>
            </thead>
            {% for entry in od.entries %}
            <tr>
                <th {% if entry.product.order_null %} style="border-top: 3px solid;"{% endif %}> {{ entry.product.name }} </th>
                <td style="{% if entry.product.order_null %}border-top: 3px solid;{% endif %} {% if entry.color %} background-color: #ddffdd; {% endif %}"> {{ entry.per_pallet|floatformat:"-2" }} </td>
                <td style="{% if entry.product.order_null %}border-top: 3px solid; {% endif %} {% if entry.color %} background-color: #ddffdd; {% endif %}"> {{ entry.amount }} </td>
            </tr>
            {% endfor %}
            <tr>
                <th> Σ </th>
                <td> {{ od.pallets|floatformat:"-2" }} </td>
                <td> {{ od.amount }} </td>
            </tr>
        </table>
    {% endfor %}

{% endblock content %}
