{% extends base_template %}
{% load i18n %}


<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
            <li><a href="/core/order/{# url 'admin:order-list' #}">{% trans "Orders" %}</a></li>
            <li>{%trans "Order report" %}</li>
{#            <li><a href="{% url 'admin:order-report' %}">{% trans "Order report" %}</a></li>#}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <header>
            <h1> {% trans "Order report" %} - {% now 'Y-m-d' %}</h1>
    </header>

    {#    <div>#}
    {#        <span> Filters </span>#}
    {#    </div>#}

    <table class="easy-to-read-table">
        <thead>
            <tr>
                <th>{% trans "Order Date" %}</th>
                <th>{% trans "Delivery Date" %}</th>
                <th>{% trans "Product" %}</th>
                <th>{% trans "Amount" %}</th>
                <th>{% trans "Customer" %}</th>
                <th>{% trans "Distribution Center" %}</th>
                <th>{% trans "Delivery Number" %}</th>
                <th>{% trans "Real product weight" %}</th>
                <th>{% trans "Total product weight" %}</th>
                <th>{% trans "Real weight" %}</th>
                <th>{% trans "Total weight" %}</th>
            </tr>
        </thead>
        <tbody>
    {% for order in orders %}
        {% for details in order.details.all %}
            {% for entry in details.entries.all %}
            <tr>
                <td>{{ order.date }}</td>
                <td>{{ details.delivery_date }}</td>
                <td>{{ entry.product }}</td>
                <td>{{ entry.amount }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ details.delivery_center }}</td>
                <td>{{ details.delivery_code }}</td>
                <td>{{ entry.product_real_weight|floatformat:"-2" }}</td>
                <td>{{ entry.product_assumed_weight|floatformat:"-2" }}</td>
                <td>{{ entry.total_real_weight|floatformat:"-2" }}</td>
                <td>{{ entry.total_assumed_weight|floatformat:"-2" }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
{% endblock content %}
