.is-future-active-order-tr,
.is-future-active-order-tr td,
.is-future-active-order-tr th {
    background-color: rgba(162, 239, 175, 0.37) !important;
}
.is-future-active-order-tr:nth-child(2n),
.is-future-active-order-tr:nth-child(2n) td,
.is-future-active-order-tr:nth-child(2n) th {
    background-color: rgba(162, 239, 175, 0.99) !important;
}
.is-today-active-order-tr:nth-child(2n),
.is-today-active-order-tr:nth-child(2n) td,
.is-today-active-order-tr:nth-child(2n) th {
    background-color: rgba(93, 229, 110, 0.58) !important;
}
.is-today-active-order-tr,
.is-today-active-order-tr td,
.is-today-active-order-tr th {
    background-color: rgba(93, 229, 110, 0.58) !important;
}
.filter-date-range {
    width: 97%;
}